* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
}

/*Start-Header*/

/*start-Header*/
header {
  text-align: center;
}
header img {
  height: 200px;
}

header h1 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-shadow: 3px 2px 2px #4dcbc2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 28px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-shadow: 3px 2px 2px #4dcbc2;
}

nav ul li a:hover {
  color: #4dcbc2;
  transition: 0.3s;
}

nav button {
  border: none;
  background: rgb(229, 0, 0);
  padding: 12px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.4s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.498);
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/*END-HEADER*/

/*END-HEADER*/

/*Start-Index*/

/*Start-Index*/
.index-head h2 {
  text-align: center;
  color: white;
  font-size: 75px;
  text-shadow: 3px 2px 2px #4dcbc2;
}
.index-top {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.index-middle {
  margin-top: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.index-bottom {
  margin-top: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.index-left {
  margin-top: 30px;
  margin-right: 35px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.61);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.548);
}

.index-center {
  margin-top: 30px;
  margin-left: 35px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.61);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.548);
}

.index-right {
  margin-top: 30px;
  margin-left: 35px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.61);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.548);
}
.index-left img {
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
.index-center img {
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
.index-right img {
  height: 300px;
  width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}

.index-top h2 button {
  color: #f6f6f8;
  font-size: 50px;
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #4dcbc386;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  text-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: none;
  width: 500px;
  cursor: pointer;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
.index-bottom h2 button {
  color: #f6f6f8;
  font-size: 50px;
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #4dcbc386;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  text-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: none;
  width: 500px;
  cursor: pointer;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
.index-middle h2 button {
  color: #f6f6f8;
  font-size: 50px;
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #4dcbc386;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  text-shadow: 10px 20px 50px rgba(0, 0, 0, 0.727);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: none;
  width: 500px;
  cursor: pointer;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
.index-top h2 button:hover {
  transform: scale(1.2);
}
.index-bottom h2 button:hover {
  transform: scale(1.2);
}
.index-middle h2 button:hover {
  transform: scale(1.2);
}
.index-background {
  text-align: center;
  align-items: contain;
  justify-content: center;
  justify-content: space-evenly;
  background-color: black;
}

.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  width: 500px;
  margin-left: 70px;
  display: inline-block;
}

.gallery:hover {
  border: 2px solid #4dcbc3;
}

.gallery img {
  width: 500px;
  height: 300px;
}

.gallery h3 {
  padding: 15px;
  text-align: center;
  color: #ffffff;
}

/*End-Index*/

/*End-Index*/

/*Start-Footer*/

/*Start-Footer*/

.footer-credit {
  text-align: center;
  padding-top: 50px;
  color: #f6f6f8;
  text-shadow: 3px 2px 2px #4dcbc2;
  margin-bottom: 30px;
}
/*End-Footer*/

/*End-Footer*/
